@import "bourbon/bourbon";
@import "neat-settings";
@import "neat/neat";
@import "normalize/normalize";
@import "base/base";
@import "base/class-variables";
@import "layout/layout";

// ===============================================

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

h1 {
	font-size: modular-scale(3);
	color: $red;

	a {
		font-size: 50%;
	}
}

h2 {
	font-size: modular-scale(2);
}
h3 {
	font-size: modular-scale(1);
}

header,
section.controls {
	@include outer-container(100%);
}

footer {
	height: #{$heading-line-height*7}em;
	// background-color: $dark-gray;
}



// ===============================================

