@import "bourbon/bourbon";
@import "neat-settings";
@import "neat/neat";
@import "normalize/normalize";
@import "base/base";
@import "base/class-variables";
@import "layout/layout";

// ===============================================

html, body {
	@include outer-container(100%);
	min-width: 970px;
}

h1 {
	font-size: modular-scale(3);
	color: $red;

	a {
		font-size: 50%;
	}
}

h2 {
	font-size: modular-scale(2);
}
h3 {
	font-size: modular-scale(1);
}

header,
aside.controls,
section.map,
footer {
	@include row();
}

header {
	margin: $base-line-height * 0.5em 0;
	padding: $base-line-height * 0.5em;

	h1 {
		@include span-columns(12);
		@include pad(null 2%);

		@include media($large-screen) {
			@include span-columns(3);
			@include shift(2);
		}
	}

	article {
		@include span-columns(12);
		@include pad(null 2%);

		@include media($large-screen) {
			@include span-columns(5);
		}
	}
}

footer {
	height: #{$heading-line-height*7}em;
	// background-color: $dark-gray;
}



// ===============================================

