aside.controls {
	background-color: transparent;
	padding: 0;
	overflow: hidden;

	// h4 {
	// 	padding-top: $heading-line-height * 1em;
	// 	padding-left: $heading-line-height * 1em;
	// 	padding-bottom: $heading-line-height * 1em;
	// 	margin-bottom: 0;
	// }

	.checkbox {
		@include span-columns(12);

		@include media($large-screen) {
			// @include span-columns(4);
			// @include shift(1);
			// border-right: 1px solid darken($dark-blue, 10%);
		}

		label {
			display: inline-block;
			overflow: hidden;
		}

		.options {
			$bg-colors-options: #ACE5E1, #8DD6D0, #67C9C1, #42BDB3, #35968F;
			$bg-colors-active: #EBDBDA, #DABAB9, #8CB2AE, #8B9997, #7C7F7F;

			label {
				@include span-columns(1 of 5);
				line-height: 5;
				cursor: pointer;
				margin-bottom: 0;

				&:first-child:before {
					content: "Dle období";
					position: absolute;
					line-height: 3;
					left: 0.62em;
					color: $medium-gray;
					font-size: 0.62em;
					text-transform: uppercase;
				}

				@for $i from 1 to 6 {
					// assign colors from $bg-colors-options list
					&:nth-child(#{$i}) {
						$option-color-from-list: nth($bg-colors-options, $i);
						background-color: $option-color-from-list;
						color: darken($option-color-from-list, 24%);
						border-bottom: 1px solid darken($option-color-from-list, 5%);

						&:focus,
						&:hover {
							background-color: darken($option-color-from-list, 5%);
							color: darken($option-color-from-list, 24%);
						}

						&.active {
							color: desaturate(adjust_hue(darken($option-color-from-list, 24), 185), 0.4);
							background-color: desaturate(adjust_hue($option-color-from-list, 185), 0.4);
							// saturate(darken(adjust_hue(#8CB2AE, 189), 12), 4)
							// adjust_hue(darken(#67C9C1, 9), 186)
							// desaturate(adjust_hue(#67C9C1, 185), 0)
						}

						input.option {
							background-color: darken($option-color-from-list, 15%);

							&:focus,
							&:hover {
								background-color: darken($option-color-from-list, 38%);
							}

							&:checked {
								background-color: darken($option-color-from-list, 62%);
							}
						}
					}
				}
			}

			// Checkbox/Radio replacement
			input.option {
				@include appearance(none);
				@include position($option-size/3 0 0 0);
				@include size($option-size);
				@include transition;
				border: none;
				cursor: pointer;
				display: inline-block;
				outline: none;
				position: relative;
				z-index: 1000;

				&.radio {
					border-radius: 50%;

					&::after {
						border-radius: 50%;
					}
				}
			}
		}

	}

	.slider {
		@include span-columns(12);
		@include pad(0 2%);

		@include media($large-screen) {
			@include span-columns(6);
		}

		.years {
			> div {
				@include span-columns(1 of 2);
				line-height: 2;
			}
		}

		// Range slider
		// Slider
		input.range {
			-webkit-appearance: none;
			height: 10px;
			border-radius: 5px;
			background: $light-blue;
			outline: none;
			width: 100%;
			margin: 1em 0;
			cursor: ew-resize;

			&::-moz-range-track {
				background: none;
				border: none;
			}

			// Slider Handle
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				@include size($option-size);
				border-radius: 50%;
				background: #353535;
				cursor: pointer;
				-webkit-transition: background .15s ease-in-out;
				transition: background .15s ease-in-out;

				&:hover {
					background: $light-red;
				}
			}

			&:active::-webkit-slider-thumb {
				background: $light-red;
			}

			&::-moz-range-thumb {
				@include size($option-size);
				border: 0;
				border-radius: 50%;
				background: #353535;
				cursor: pointer;
				-webkit-transition: background .15s ease-in-out;
				transition: background .15s ease-in-out;

				&:hover {
					background: $light-red;
				}
			}

			&:active::-moz-range-thumb {
				background: $light-red;
			}
		}
	}

	.slider.x {
		@include span-columns(12);
		@include pad(0 2%);
		position: relative;
		min-height: 80px;

		label:before {
			@include position(absolute, null null 0px 0);
			-webkit-background-clip: text;
			font-weight: 600;
			font-size: 0.875rem / 2;
			line-height: 2;
			text-indent: 0.5em;
			word-spacing: 115px;
			white-space: nowrap;
			content: '1948 1951 1966 1989';
		}

		@include media($large-screen) {
			@include span-columns(4);
			@include shift(4);
			@include pad(0);

			label:before {
				margin-left: -1em;
				word-spacing: 120px;
			}
		}

		input[type='range'] {
			width: 457px;
		}
	}

}