section.controls {
	position: fixed;
	top: $base-spacing;
	left: 0;
	z-index: 14;
	width: 100%;
	background-color: transparent;
	padding: 0;
	overflow: hidden;

	.checkbox {
		@include span-columns(12);

		@include media($large-screen) {
			// @include span-columns(4);
			// @include shift(1);
			// border-right: 1px solid darken($dark-blue, 10%);
		}

		label {
			display: inline-block;
			overflow: hidden;
		}

		.options {
			$bg-colors-options: #ACE5E1, #8DD6D0, #67C9C1, #42BDB3, #35968F;
			$bg-colors-active: #EBDBDA, #DABAB9, #8CB2AE, #8B9997, #7C7F7F;

			label {
				@include span-columns(1 of 5);
				line-height: $base-line-height * 4;
				cursor: pointer;
				margin-bottom: 0;

				&:first-child:before {
					content: "Dle období";
					position: absolute;
					line-height: 3;
					left: 0.62em;
					color: $medium-gray;
					font-size: 0.62em;
					text-transform: uppercase;
				}

				@for $i from 1 to 6 {
					// assign colors from $bg-colors-options list
					&:nth-child(#{$i}) {
						$option-color-from-list: nth($bg-colors-options, $i);
						background-color: $option-color-from-list;
						color: darken($option-color-from-list, 24%);
						border-bottom: 1px solid darken($option-color-from-list, 5%);

						&:focus,
						&:hover {
							background-color: darken($option-color-from-list, 5%);
							color: darken($option-color-from-list, 24%);
						}

						&.active {
							color: desaturate(adjust_hue(darken($option-color-from-list, 24), 185), 0.4);
							background-color: desaturate(adjust_hue($option-color-from-list, 185), 0.4);
							// saturate(darken(adjust_hue(#8CB2AE, 189), 12), 4)
							// adjust_hue(darken(#67C9C1, 9), 186)
							// desaturate(adjust_hue(#67C9C1, 185), 0)
						}

						input.option {
							background-color: darken($option-color-from-list, 15%);

							&:focus,
							&:hover {
								background-color: darken($option-color-from-list, 38%);
							}

							&:checked {
								background-color: darken($option-color-from-list, 62%);
							}
						}
					}
				}
			}

			// Checkbox/Radio replacement
			input.option {
				@include appearance(none);
				@include position($option-size/3 0 0 0);
				@include size($option-size);
				@include transition;
				border: none;
				cursor: pointer;
				display: none; // inline-block
				outline: none;
				position: relative;
				z-index: 1000;

				&.radio {
					border-radius: 50%;

					&::after {
						border-radius: 50%;
					}
				}
			}
		}

	}

}

section.filters {
	position: fixed;
	top: $base-spacing * 4 + $base-spacing;
	left: 0;
	z-index: 13;
	width: 20%;
	text-align: center;
	box-sizing: content-box;
	padding: 0;
	height: $base-spacing * 2; // 48px
	@include border-bottom-radius(2px);
	border-top: 1px solid $medium-gray;
	cursor: pointer;
	color: $dark-gray;
	background-color: $super-light-gray;
	// overflow: hidden; // arrow is not visible if enabled

	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in-out);

	&:after {
		// opacity: 0;
		display: none;
		@include transition-property(opacity);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in-out);

		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		border-radius: 2px;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: $super-light-gray;
		border-width: $base-spacing;
		margin-left: $base-spacing * -1;
	}

	&.hidden {

		&:hover {
			padding-bottom: $small-spacing;
		}

		&:after {
			opacity: 1;
			display: block;
		}
	}

	header {
		@include position(absolute, 0);
		width: 100%;
		height: $base-spacing * 2 * 1.6129;
		line-height: $base-spacing * 2 * 1.6129;
		font-size: 0.62em;
		font-weight: 600;
		color: $medium-gray;
		text-transform: uppercase;
		background: white;
		border-bottom: 1px solid darken($super-light-gray, 5);
		cursor: pointer;

		> div {
			margin: auto;
		}
	}

	.filters-wrapper {
		@include position(absolute, $base-spacing * 2 0 0 0);
		height: calc(100% - #{$base-spacing} * 4); //
		padding: $small-spacing $base-spacing;
		text-align: center;
		overflow-y: scroll;
		box-sizing: border-box;

		&::-webkit-scrollbar {
			width: $small-spacing / 4;
		}

		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background: #eee;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: #888;
		}
		&::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(100,100,100,0.4);
		}

		// IE
		scrollbar-face-color: #888;
		scrollbar-track-color: #eee;

		.filter {
			margin: $small-spacing auto;
		}

		display: none;
		opacity: 0;
		@include transition-property(all);
		@include transition-duration(0.6s);
		@include transition-timing-function(ease-in-out);
	}

	.roll-up {
		@include transition-property(opacity);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in-out);
		opacity: 0;

		> div {
			background: white;
			border-top: 1px solid darken($super-light-gray, 5);
		}
	}

	.active-filters & {
		height: calc(100% - #{$base-line-height} * 4em - #{$base-line-height} * 1em);
		cursor: initial;

		.filters-wrapper {
			display: block;
			opacity: 1;
		}

		.roll-up {
			// display: block;
			opacity: 1;
		}
	}

	h4 {
		text-align: left;
	}

	#filter-age {
		margin-bottom: $base-spacing * 0.5;
	}

	.age-value {
		border: $base-border;
		padding: 0 $small-spacing;
		border-radius: $base-border-radius;
		margin-bottom: $small-spacing;
		text-transform: none;
	}

	#filter-age + div {
		// margin-bottom: $base-spacing * 0.5;
	}
}