header.intro {
	@include position(absolute, 0 0 0 0);
	z-index: 9999;
	height: 100%;
	width: 100%;
	background: white;

	&:after {
		opacity: 0;
		@include transition-property(opacity);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in-out);

		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		border-radius: 2px;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: $base-spacing;
		margin-left: $base-spacing * -1;
	}

	> span {
		color: $red;
		font-weight: 600;
		text-transform: uppercase;
		opacity: 0;
		display: inline-block;
		@include position(absolute, null $base-spacing $small-spacing null);
		@include transition-property(all);
		@include transition-duration(0.2s);
		// padding-top: 0;
		// padding-bottom: 0;

		img {
			padding: .25em .5em;
		}
	}

	@include transition-property(all);
	@include transition-duration(0.6s);
	@include transition-timing-function(ease-in-out);

	&.hide,
	&.hidden {
		@include transform(translatey(calc(-100% + #{$base-spacing})));
		-ms-transform: translateY(-100%) translateY($base-spacing);
		transform: translateY(-100%) translateY($base-spacing);

		> .wrap {
			overflow-y: hidden;
			opacity: 0;
			@include transition-property(opacity);
			@include transition-duration(0.2s);
		}
	}

	&.hidden {
		cursor: pointer;

		@include transition-property(all);
		@include transition-duration(0.2s);
	}

	&.hidden:hover {
		@include transform(translatey(calc(-100% + #{$base-spacing} * 2)));
		-ms-transform: translateY(-100%) translateY($base-spacing * 2);
		transform: translateY(-100%) translateY($base-spacing * 2);


		&:after,
		> span {
			opacity: 1;
		}
	}

	> .wrap {
		@include outer-container;
		@include transition-property(opacity);
		@include transition-duration(0.2s);
		overflow-y: scroll;
		height: 100%;
		opacity: 1;
		padding-bottom: $base-spacing * 2;

		> * {
			@include row();
			padding: $base-spacing;
		}
	}

	a#priloha {
		background-color: $light-blue;
		color: $red;
		text-align: center;
		@include transition(all 0.2s);

		&:hover {
			background-color: lighten($light-blue, 5%);
			// color: $dark-red;
		}

		.caps {
			font-weight: bold;
		}
	}

	section.welcome {
		text-align: center;
		@include row();

		.title {
			@include span-columns(12);
			@include pad(null 2%);

			@include media($large-screen) {
				@include span-columns(3);
				@include shift(2);

				.toApp {
					margin-left: 0 !important;
				}
			}
		}

		article {
			@include span-columns(12);
			@include pad(null 2%);

			@include media($large-screen) {
				@include span-columns(5);
			}
		}

		@include media($large-screen) {
			text-align: left;
		}
	}

	.guide {
		@include row();
		background-color: $super-light-gray;
		padding-top: $base-spacing;
		border-top: $base-border;
		border-bottom: $base-border;
		text-align: center;
		display: none;
		margin-bottom: $base-spacing;

		@include media($medium-screen) {
			display: block;
		}

		h6 {
			@include span-columns(12);
			margin-bottom: $base-spacing * 2;
			text-align: left;
		}

		.guide-images {
			margin-bottom: $base-spacing;
		}

		#overall-guide {
			@include span-columns(12);
		}
		#marker {
			@include span-columns(12);
			border-top: $base-border;
		}

		hr {
			border-color: $light-gray;
		}
	}

	section:last-of-type + div {
		display: none;
		@include media($medium-screen) {
			display: block;
		}
	}

	.toApp {
		display: block;
		// color: $turqois;
		line-height: 1;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		max-width: $base-spacing * 6;
		padding: $base-spacing;
		border: 1px solid $turqois;
		border-radius: $base-border-radius;
		margin: $small-spacing auto;

		background-color: $option-color;
		color: $option-text-color;

		color: $super-light-gray;
		border: $option-color;
		background-color: $option-color;

		@include transition(all 0.2s);

		// &::after {
		// 	content: "";
		// 	border-bottom: 1px solid $turqois;
		// 	width: 71%;
		// 	display: block;
		// 	margin: auto;
		// }

		&:hover {
			// background-color: $turqois;
			// color: $super-light-gray;
			// border-color: $turqois;
			background-color: $active-color;
			border-color: $active-color;
			// color: darken($option-text-color, 10%);

			// &::after {
			// 	border-color: $super-light-gray;
			// }
		}
	}

}