header.intro {
	@include position(absolute, 0 0 0 0);
	z-index: 9999;
	height: 100%;
	width: 100%;
	background: white;
	padding: $base-spacing;

	&:after {
		opacity: 0;
		@include transition-property(opacity);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in-out);

		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		border-radius: 2px;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: $base-spacing;
		margin-left: $base-spacing * -1;
	}

	> span {
		color: $red;
		font-weight: 600;
		text-transform: uppercase;
		opacity: 0;
		display: inline-block;
		@include position(absolute, null $base-spacing $small-spacing null);
		@include transition-property(all);
		@include transition-duration(0.2s);

		img {
			padding: .25em .5em;
		}
	}

	@include transition-property(all);
	@include transition-duration(0.6s);
	@include transition-timing-function(ease-in-out);

	&.hide,
	&.hidden {
		@include transform(translatey(calc(-100% + #{$base-spacing})));
	}

	&.hidden {
		cursor: pointer;

		@include transition-property(all);
		@include transition-duration(0.2s);
	}

	&.hidden:hover {
		@include transform(translatey(calc(-100% + #{$base-spacing} * 2)));

		&:after,
		> span {
			opacity: 1;
		}
	}

	h1 {
		@include span-columns(12);
		@include pad(null 2%);

		@include media($large-screen) {
			@include span-columns(3);
			@include shift(2);
		}
	}

	article {
		@include span-columns(12);
		@include pad(null 2%);

		@include media($large-screen) {
			@include span-columns(5);
		}
	}

}