	#map-canvas {
		z-index: 0;
		position: absolute;
		bottom: 0;
		height: calc(100% - #{$base-spacing * 4.5});
		width: 100%;
	}

	#reset-view {
		overflow: hidden;
		position: fixed;
		bottom: 50%;
		right: 9px;
		width: 28px;
		height: 28px;
		line-height: 28px;
		background-color: white;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.11);
		border-radius: $base-border-radius;

		img {
			opacity: 0.62;
		}

		&:hover {
			img {
				opacity: 0.95;
			}
		}
	}

	#number-markers {
		overflow: hidden;
		position: fixed;
		top: $base-spacing * 5 + em(9);
		right: 9px;
		width: auto;
		height: 28px;
		line-height: 28px;
		text-align: center;
		padding: 0 $small-spacing;
		background-color: white;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.11);
		border-radius: $base-border-radius;
	}

	.infobox {
		position: fixed;
		z-index: 12;
		box-shadow: 0 0 $small-spacing / 2 rgba(0,0,0,0.1);
		bottom: $base-spacing;
		right: 10%;
		width: 80%;

		@include media($small-screen) {
			bottom: $base-spacing;
			right: $base-spacing * 2;
			width: $base-spacing * 15;
		}
		margin: auto;
		@include transform(translatey(calc(#{$base-spacing} * 12)));

		@include transition-property(all);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in-out);

		.active-marker & {
			@include transform(translatey(0));
		}

		// &:after {
		// 	// opacity: 0;
		// 	// @include transition-property(opacity);
		// 	// @include transition-duration(0.2s);
		// 	// @include transition-timing-function(ease-in-out);

		// 	bottom: 100%;
		// 	left: 50%;
		// 	border: solid transparent;
		// 	content: " ";
		// 	height: 0;
		// 	width: 0;
		// 	border-radius: 2px;
		// 	position: absolute;
		// 	pointer-events: none;
		// 	border-color: rgba(255, 255, 255, 0);
		// 	border-bottom-color: #fff;
		// 	border-width: $base-spacing;
		// 	margin-left: $base-spacing * -1;
		// }

		.info {
			position: relative;
			text-align: left;
			margin: auto;
			width: 100%;
			// height: $base-spacing * 12;
			border-radius: 2px;
			// box-shadow: 0 0 $base-spacing rgba(0,0,0,0.38);
			background: $super-light-gray;
			color: $dark-gray;
			// overflow: scroll;
			font-size: 87.5%;

			.title {
				background: white;
				border-bottom: 1px solid darken($super-light-gray, 5);
				padding: 0 $base-spacing;

				h1 {
					font-size: rem(16);
					line-height: $base-line-height * 2;
					height: $base-spacing * 2;
					margin-bottom: 0;
				}
			}

			.content {
				padding: $small-spacing $base-spacing $base-spacing;
				overflow-y: scroll;
				height: $base-spacing * 8;

				&::-webkit-scrollbar {
					width: 7px;
				}

				// &:hover::-webkit-scrollbar {
				// 	width: 7px;
				// }

				&::-webkit-scrollbar-track {
					border-radius: $base-border-radius;
					background: #eee;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: $base-border-radius;
					background: #888;
				}

				// IE
				scrollbar-face-color: #888;
				scrollbar-track-color: #eee;

				& > div {
					@include span-columns(1 of 2);

					&:first-of-type {
						padding-right: $small-spacing;
					}
				}
			}
		}
	}