	#map-canvas {
		z-index: 0;
		height: 100%;
		width: 100%;
	}

	.infobox {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 13;
		width: 100%;
		@include transform(translatey(calc(#{$base-line-height} * 12em)));

		@include transition-property(all);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in-out);

		.active-marker & {
			@include transform(translatey(0));
		}

		&:after {
			// opacity: 0;
			// @include transition-property(opacity);
			// @include transition-duration(0.2s);
			// @include transition-timing-function(ease-in-out);

			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			border-radius: 2px;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: $base-line-height * 1em;
			margin-left: $base-line-height * -1em;
		}

		.info {
			text-align: left;
			margin: auto;
			width: 60%;
			height: $base-line-height * 12em;
			border-radius: 2px;
			// box-shadow: 0 0 $base-line-height * 1em rgba(0,0,0,0.38);
			background: $super-light-gray;
			color: $dark-gray;
			overflow: scroll;
			padding: $base-line-height * 1em;

			dl {
				-webkit-column-count: 3; /* Chrome, Safari, Opera */
				-moz-column-count: 3; /* Firefox */
				column-count: 3;
			}
		}
	}