$modular-scale-ratio: $major-third;
$modular-scale-base: $base-font-size;

$base-font-size: em(14);

// Colours
$red: #6D3D3B;
$light-red: #946563;

$dark-blue: #465957;
$light-blue: #698C89;


// Input
$option-color: $light-blue;
$checked-option-color: $red;
$option-size: 18px;
