@media all {
	#print {
		display: none;
	}
}

@media print{
	@page {
		size: landscape;
	}

	html, body {
		height: auto;
		overflow: initial;
		float: none !important;
		font-size: 8pt;
	}

	#periods,
	#filters,
	#reset-view,
	#infobox,
	#print-infobox {
		display: none;
	}

	#map-canvas,
	#print,
	.print-container {
		position: relative;
		display: block !important;
		z-index: 0 !important;
	}

	.print-container {
		// height: 100%;
		width: 980px !important;

		#map-canvas {
			height: 470px !important;
		}

		#print {
			display: block;
			// page-break-before: always !important;
			height: 200px !important;
			width: 100% !important;
			// background-color: $white;
			color: $black;
			padding: $base-spacing;

			& > div {
				@include span-columns(1 of 2);

				&:first-of-type {
					padding-right: $small-spacing;
				}
			}
		}

		#list-of-filters {

		}

		#print-infobox {

			& > div {
				@include span-columns(1 of 2);

				&:first-of-type {
					padding-right: $small-spacing;
				}
			}
		}

		.active-markers {
			#print-infobox {
				display: block;
			}
		}
	}
}